react_p/
estienne_sm_data/
__pycache__/

.DS_Store
*.swp
*.pdf

tkinter_test.py
embedding_in_tk_sgskip.py

PhysRevC.83.054615.pdf
params.pyc
reactor.pyc
AntineutrinoSpectrum_232Th.csv
AntineutrinoSpectrum_238U.csv
geoneutrino-luminosity.knt
wit_smear_test.csv
smear_2019_10_15.csv
